@import url('https://fonts.googleapis.com/css2? family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2? family=Courgette&display=swap');
:root{
    --cor-titulo-primario:#FDE2F3;
    --cor-titulo-sombreamento:#04F2D5;
    --cor-texto-secundario: #FDE2F3;
    --cor-fundo-tela: #015051;
    --cor-borda-links:#04F2D5;
    --cor-texto-rodape:#FDE2F3;
    --cor-rodape:#04F2D5;
    --cor-hover:#272727;

}

*{
    margin: 0;
    padding: 0;
}
body{

    height: 100vh;
    box-sizing: border-box;
    color:var(--cor-texto-secundario);
    background-color: var(--cor-fundo-tela);
}

header{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    gap: 30px;
    padding: 2% 10% 0% 10%;
    margin-left: 15%;
    margin-right: 15%;
    
}

.header__titulo{

    font-family:'Merienda', cursive;
    text-shadow: 5px 5px 5px var(--cor-titulo-sombreamento);
    text-align: center;
    color:var(--cor-titulo-primario);
}
.header__menu{

    display: flex;
    justify-content: space-around;

}
.header__menu__link{
    font-family: 'Courgette', cursiva;
    font-size: 20px;
    font-weight: 600px;
    color:var(--cor-texto-secundario);
    text-decoration: none;

}

.header__menu__link:hover{
    color:#04F2D5;

}
.apresentacao {
    margin: 5% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap:82px;
    
}
.apresentacao__conteudo{
    width: 750px;
    display: flex;
    flex-direction: column;
    gap: 30px
}
.apresentacao__conteudo__titulo{
    font-size:34px;
    font-family: 'Merienda', cursive;
    text-align: center;
    
}
.apresentacao__conteudo__texto{
    font-size: 22px;
    font-family: 'Courgette', cursiva;
    text-align: justify;
}
.apresentacao__conteudo__links{
    display:flex;
    flex-direction:row;
    align-items: center;
    gap: 12px;
    justify-content: space-between;
   
}
.apresentacao__img{
    width: 24%;
    border-radius: 10px;
    border: 2px solid var(--cor-borda-links);
}
.apresentacao__links__link{
   
    display:flex;
    justify-content:center;
    gap:12px;
    border: 2px solid var(--cor-borda-links);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    padding: 6px 6px;
    text-decoration:none;
    color: var(--cor-texto-secundario);
    font-family: 'Courgette', cursiva;
    flex-direction:row;
    align-items: center;
    
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
}
.rodape{
    color:var(--cor-texto-rodape);
    background-color:var(--cor-rodape);
    padding: 8px;
    text-align: center;
    font-size: 17px;
    font-weight: 600px;
    font-family: 'Merienda', cursive;
}